In [3]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split

In [19]:
df=pd.read_csv("D:\\Pulse Data\\pulse_price.csv")

In [5]:
df

                item_name  month  year   price
0              Black Gram      1  2016  168.48
1              Black Gram      2  2016  164.79
2              Black Gram      3  2016  162.12
3              Black Gram      4  2016  170.51
4              Black Gram      5  2016  162.68
...                   ...    ...   ...     ...
2023  Horse Gram (Kulthi)      8  2006   85.24
2024  Horse Gram (Kulthi)      9  2006   97.21
2025  Horse Gram (Kulthi)     10  2006   89.31
2026  Horse Gram (Kulthi)     11  2006   96.78
2027  Horse Gram (Kulthi)     12  2006   95.87

[2028 rows x 4 columns]

In [6]:
df.dtypes

item_name     object
month          int64
year           int64
price        float64
dtype: object

In [7]:
item=LabelEncoder()

In [8]:
df.item_name=item.fit_transform(df.item_name)

In [9]:
df.item_name.value_counts()

5     312
0     156
1     156
2     156
3     156
4     156
6     156
7     156
8     156
9     156
10    156
11    156
Name: item_name, dtype: int64

In [10]:
# x,y=np.array([df.item_name,df.month,df.year]),np.array(df.price)
x,y=df[["item_name","month","year"]],df["price"]

In [11]:
x

      item_name  month  year
0             1      1  2016
1             1      2  2016
2             1      3  2016
3             1      4  2016
4             1      5  2016
...         ...    ...   ...
2023          3      8  2006
2024          3      9  2006
2025          3     10  2006
2026          3     11  2006
2027          3     12  2006

[2028 rows x 3 columns]

In [12]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2)

In [13]:
from sklearn.ensemble import RandomForestRegressor

In [14]:
pulse=RandomForestRegressor(random_state=100)

In [15]:
pulse.fit(x_train,y_train)

RandomForestRegressor(random_state=100)

In [51]:
inp1=item.fit_transform([input("Enter the pulse name: ")])[0]
inp2=input("Enter Month: ")
inp3=input("Enter Year: ")

Enter the pulse name: Rongi
Enter Month: 6
Enter Year: 2021

In [52]:
total_inp=[[inp1,inp2,inp3]]

In [53]:
inp_arr=np.asarray(total_inp)

In [54]:
inp_arr_re=inp_arr.reshape(1,-1)

In [58]:
prediction=pulse.predict(inp_arr_re)

In [59]:
prediction

array([136.19482308])

In [16]:
pulse.score(x_train,y_train)

0.9915939030479707

In [1]:
import joblib

In [17]:
joblib.dump(pulse,"D:\\Pulse Data\\predicion.sav")

['D:\\Pulse Data\\predicion.sav']

In [18]:
df

      item_name  month  year   price
0             1      1  2016  168.48
1             1      2  2016  164.79
2             1      3  2016  162.12
3             1      4  2016  170.51
4             1      5  2016  162.68
...         ...    ...   ...     ...
2023          3      8  2006   85.24
2024          3      9  2006   97.21
2025          3     10  2006   89.31
2026          3     11  2006   96.78
2027          3     12  2006   95.87

[2028 rows x 4 columns]

In [20]:
df

                item_name  month  year   price
0              Black Gram      1  2016  168.48
1              Black Gram      2  2016  164.79
2              Black Gram      3  2016  162.12
3              Black Gram      4  2016  170.51
4              Black Gram      5  2016  162.68
...                   ...    ...   ...     ...
2023  Horse Gram (Kulthi)      8  2006   85.24
2024  Horse Gram (Kulthi)      9  2006   97.21
2025  Horse Gram (Kulthi)     10  2006   89.31
2026  Horse Gram (Kulthi)     11  2006   96.78
2027  Horse Gram (Kulthi)     12  2006   95.87

[2028 rows x 4 columns]

In [22]:
names=df.item_name.unique()

In [28]:
for i in names:
    print(f"<option value='{i}'>{i}</option>")

<option value='Black Gram'>Black Gram</option>
<option value='White Gram(Kabli Chana)'>White Gram(Kabli Chana)</option>
<option value='Urad Dal'>Urad Dal</option>
<option value='Urad Whole'>Urad Whole</option>
<option value='Barbati dal'>Barbati dal</option>
<option value='Peas Dal'>Peas Dal</option>
<option value='Rongi'>Rongi</option>
<option value='Moong Dal'>Moong Dal</option>
<option value='Masur Whole'>Masur Whole</option>
<option value='Gram Dal'>Gram Dal</option>
<option value='Rajmah'>Rajmah</option>
<option value='Horse Gram (Kulthi)'>Horse Gram (Kulthi)</option>